/* Cabeçalho */
	#header {
		background-color: #FF4056;
		color: #fff;
	}

		#header > button {
			float: right;
			margin-top: -50px;
			margin-right: 10px;
		}
	
		#header:hover {
			background-color: #0F0;
		}